{% extends 'template.html' %}



{% block content %} 

<table>
    <thead>
        <tr>
            <th>CHAVE</th>
            <th>VALOR</th>
        </tr>
    </thead>
        <tr id="linha1">

        </tr>
    <tbody>
        
    </tbody>
</table>


{% endblock %}

{% block scripts %}
<script>
    const content = fetch("{{ url_for('api') }}").
        then((response) => {
            return response.json()

        }).
        then((data) => {
            var linha = document.getElementById("#linha1")
            var dado = document.createElement("td")
            dado.id = 'dado1'
            dado.innerText = data.PETR4
            linha.appendChild(dado)



            
        });

        

</script>

{% endblock %}