{% extends 'template.html' %}

{% block content %}

<h1>Painel de Controle</h1>

<div class="add-ticker" >

    <form action="{{url_for('add_ticker')}}" method="post">

        <label for="ticker">Digite o código do Ativo</label>
        <input class="form-control" type="text" id="ticker" name="ticker">

        <button type="submit" id="btn-ticker" class="btn btn-primary" >Adicionar Papel</button>
    </form>

</div>

<div class="wallet">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Código do Papel</th>
                <th>Nome da Empresa</th>
                <th>Rentabilidade</th>
            </tr>
        </thead>
        <tbody>
        {% if list_assets %}
            {% for element in list_assets %}
                <tr>
                    <td>{{ element.ticker }}</td>
                    <td>{{ element.long_name }}</td>
                    <td>{{ element.profit }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>

    </table>

</div>

{% endblock %}