
{% extends "template.html" %}
<main>
        
    {% block content%}

    <section>
        <p><a href="/portfolio"> Monte sua carteira</a></p>

    </section>

    <section>
        <p>Jogadores Cadastrados</p>
        
            <ul>
                {% for player in users %}
                    
                    <li>{{player.name}}</li>

                {% endfor %}

            </ul>
    </section>

    <section>
       <p>Papeis mais valorizados</p>
    </section>

    {% endblock %}

