
{% extends "template.html" %}
<main>
        
    {% block content%}

    <section>
        <p><a href="/portfolio"> Monte sua carteira</a></p>

    </section>

    <section>
        <p>Jogadores Cadastrados</p>
        
        <table class="table" >
            <thead class="thead-dark" >
                <tr>
                    <th>Nome</th>
                    <th>email</th>
                    <th>telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for player in users %}
                    <tr>
                        <td>{{player.name}}</td>
                        <td>{{player.email}}</td>
                        <td>{{player.cell}}</td>
                        <td><a href="{{url_for('update_user', id_user=player.id)}}">editar</a>
                            <a href="{{url_for('delete_user', id_user=player.id)}}">deleter</a></td>
                    </tr>
                
                {% endfor %}
            </tbody>    
        </table>
            
    </section>

    <section>
       <p>Papeis mais valorizados</p>
    </section>

    {% endblock %}

