{% extends "template.html" %}

  {% block content %}
    <div class="container">
      <div class="page-header">
          <h1>{{ title }}</h1>
      </div>
      <form method="post" enctype="multipart/form-data" action="{{url_for('register_update_user', id_user=user.id)}}">
        <fieldset>

          <figure>
            <img class="profile" src="{{url_for('image', file_name=image_profile)}}" alt="" srcset="">
            <figcaption>
              <label>
                <input type="file" name="file" accept=".jpg">
              </label>
            </figcaption>
          </figure>

          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" value="{{user.name}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="email">e-mail</label>
            <input type="email" id="email" name="email" value="{{user.email}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="cell">Celular</label>
            <input type="tel" id="cell" name="cell" value="{{user.cell}}" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>

        </fieldset>
      </form>
    </div>
  {% endblock %}